BODY   {
            background-color:#D1D7D8;
       }
.upContent
       {
            padding-top: 20px;
            text-align: center;
            border-bottom: 1px solid black;

            background-color:#D8DDDE;

            color: #0B234F;
            font-size: 28pt;
            font-weight: bold;
       }
#mainArea
       {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            background-color:#D8DDDE;
       }

H2     {
            color:#0B234F;
            font-size:20pt;
            font-family:Arial;
            font-weight:bold;
       }
H3     {
            color:#3A0698;
            font-family:Arial;
            font-weight:bold;
       }
HR     {
             color:black;
             height: 1px;
             width: 90%;
       }
P A
       {
             font-weight:bold;
       }
UL A, UL A:visited
       {
             color:blue;
             font-weight:bold;
             text-decoration:none;
       }
.example
       {
              margin-left:10%;
              margin-right:35%;
              background:#C8F498;
              border: 1px dashed #9CBD03
       }
.example .firstline
       {
              font-weight:bold;
       }
.center-pictures
       {
              text-align:center;
       }
.test
       {
              margin-left:10%;
              margin-right:35%;
              border: 1px solid black;
              padding : 10px;
              line-height : 120%;
       }
.note-anch
       {
              Text-decoration:none;
              font-color:#EE1100;
              font-weight:bold;
              font-size:10px;
              text-align:top;
       }
.note  {
              font-size:11px;
       }
.RozsahImg{
  Text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}